:host {
  display: block;
  margin: 10px 0 20px;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border: solid 1px #cccccc;
  &>p {
    font-size: 1.2em;
  }
  &>div>img {max-width: 500px;}
}
