<mat-toolbar>

  <span *ngIf="afAuth.user | async as user; else showLogin">

    <button mat-button (click)="expanded=!expanded">Добавить интерес</button>

    <span>Привет {{ user.displayName }}!</span>
    <button mat-icon-button (click)="logout()" matTooltip="Выход">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </span>
  <ng-template #showLogin>
    <button (click)="login()">Login with Google</button>
  </ng-template>
</mat-toolbar>

<mat-expansion-panel [expanded]="expanded">
  <mat-form-field>
    <input matInput placeholder="Добавить интерес" [formControl]="add" (keyup.enter)="_add()" />
  </mat-form-field>
  <button mat-icon-button (click)="expanded=false"><mat-icon>close</mat-icon></button>
  <button mat-icon-button (click)="_add()"><mat-icon>done</mat-icon></button>
</mat-expansion-panel>
